* {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    font-family: 'Titillium Web';
    border: 1px solid red;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

#header_title {
    width: 90%;
    font-size: 30px;
    color: white;
}

#header_exchange {
    display: flex;
    width: 10%;
}

#button_usd,
#button_byn {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    color: blueviolet;
    background-color: brown;
}

#button_usd:hover,
#button_byn:hover {
    cursor: pointer;
    background-color: burlywood;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

#screen {
    display: flex;
}

.slider_button {
    display: none;
}

/* #buttonMoviePrevious {
    
}

#buttonMovieNext {
    
} 

#buttonMoviePrevious:hover,
#buttonMovieNext:hover{}

*/

img {
    width: 420px;
    height: 240px;
}

.movie {
    display: none;
}

.active {
    display: block;
}

#seats {
    display: flex;
    flex-direction: column;
}

.seats_row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seats_place {
    position: relative;
    width: 10px;
    height: 10px;
    margin: 5px;
}

.seats_love {
    width: 30px;
}

.seats_info {
    position: fixed;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    font: italic 14px/1.3 sans-serif;
    color: #333;
    background-color: white;
    z-index: 1;
}

[status='chosen'] {
    background-color: yellow;
}

[status='occupied'] {
    background-color: red;
}

#select {
    display: flex;
}

#footer {
    display: flex;
    justify-content: center;
}
